<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title><%= title %></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand" href="/">Not A bot</a><button
    class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/commands">
          <i class="fas fa-code"></i>
          <span class="pl-1">Commands</span></a>
        </li>
      </ul>
    <ul class="navbar-nav ml-auto mr-2">
      <% if(user) { %>
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle bg-transparent border-0 text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img style="border-radius: 50%;" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=32">
            <span><%= user.username %>#<%= user.discriminator %></span></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/dashboard"><i class="fas fa-cogs text-muted"></i> Dashboard</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="fas fa-user-slash text-muted"></i> Logout</a>
            </div>
        </li>
      <% } else { %>
          <li class="nav-item dropdown"><a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i><span class="ml-1">Login</span></a></li>
      <% } %> %>
    </ul>
  </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>